services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001" # MinIO Console port
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
  mc:
    image: minio/mc # MinIO Client for managing buckets
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5; # Wait for MinIO server to start
      mc config host add local http://minio:9000 minioadmin minioadmin;
      mc mb local/raw-data; # Create a 'raw-data' bucket
      mc mb local/processed-data; # Create a 'processed-data' bucket
      exit 0;
      "
volumes:
  minio_data:
