services:
  web:
    build: ./app
    ports:
      - "5000"
    deploy:
      replicas: 5
      restart_policy:
        condition: on-failure
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - web